<a href="https://colab.research.google.com/github/zhxkpo/NLP_2024/blob/main/24%ED%83%81%EA%B7%9C%EC%8B%9D_%EC%B0%BD%EC%82%AC%ED%94%84_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def m2n_sum(m,n):
    s=0
    if m>=n:
        for i in range(n,m+1):
            s+=i
    else:
        for i in range(m,n+1):
            s+=i
    print(f'{m} -- {n} = {s}')

n1=int(input('정수1 : '))
n2=int(input('정수2 : '))
m2n_sum(n1,n2)

정수1 : 5
정수2 : 3
5 -- 3 = 12

In [ ]:
def m2n_sum(m,n):
    s=0
    if m>=n:
        for i in range(n,m+1):
            s+=i
    else:
        for i in range(m,n+1):
            s+=i
    print(f'{m} -- {n} = {s}')

n1=int(input('정수1 : '))
n2=int(input('정수2 : '))
m2n_sum(n1,n2)

정수1 : 3
정수2 : 5
3 -- 5 = 12