<a href="https://colab.research.google.com/github/zhxkpo/NLP_2024/blob/main/24%ED%83%81%EA%B7%9C%EC%8B%9D_10%EC%9E%A5_%EB%9E%8C%EB%8B%A4_%ED%95%A8%EC%88%98%EC%99%80_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%B6%95%EC%95%BD_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#10.5
lyrics = 'Half of my heart is in Havana'
words = lyrics.split()

#1)
lengths=[]

for word in words:
    lengths.append((word, len(word)))
print(lengths)

#2)
lengths = [(word, len(word)) for word in words]
print(lengths)

[('Half', 4), ('of', 2), ('my', 2), ('heart', 5), ('is', 2), ('in', 2), ('Havana', 6)]
[('Half', 4), ('of', 2), ('my', 2), ('heart', 5), ('is', 2), ('in', 2), ('Havana', 6)]

In [ ]:
#10.6
n_list=[44,66,34,24,144,98,38,568,234,345]
print(f'n_list = {n_list}')
#1)
new_list=[]
for i in n_list:
    if i%12==0:
        new_list.append(i)
print(f'new_list = {new_list}')
#2)
new_list=list(filter(lambda x:x%12==0,n_list))
print(f'new_list = {new_list}')
#3)
new_list=list(x for x in n_list if x%12==0)
print(f'new_list = {new_list}')

n_list = [44, 66, 34, 24, 144, 98, 38, 568, 234, 345]
new_list = [24, 144]
new_list = [24, 144]
new_list = [24, 144]

In [ ]:
#10.9
#1)
new_list=[]
for i in range(1,101):
    if i%6==0:
        new_list.append(i)
print(f'new_list = {new_list}')
#2)
new_list=list(filter(lambda x:x%6==0,range(1,101)))
print(f'new_list = {new_list}')
#3)
new_list=list(x for x  in range(1,101) if x%6==0)
print(f'new_list = {new_list}')

new_list = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
new_list = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
new_list = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
#10.10
#1)
new_list=[]
for i in range(1,101):
    if i%6==0:
        if i%7==0:
            new_list.append(i)
print(f'new_list = {new_list}')
#2)
new_list=list(filter(lambda x:x%6==0 and x%7==0,range(1,101)))
print(f'new_list = {new_list}')
#3)
new_list=list(x for x  in range(1,101) if x%6==0 and x%7==0)
print(f'new_list = {new_list}')

new_list = [42, 84]
new_list = [42, 84]
new_list = [42, 84]

In [ ]:
#10.12
d_list=['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
#1)
dd_list=[]
for i in d_list:
    dd_list.append(i[:3].upper())
print(dd_list)
#2)
dd_list=list(map(lambda x: x[:3].upper(), d_list))
print(dd_list)
#3)
dd_list=list(x[:3].upper() for x in d_list)
print(dd_list)

['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']

In [ ]:
#10.13
def leap(start,end):
    leap_list=[]
    for x in range(start,end+1):
        if (x%4==0 and x%100!=0)or(x%400==0):
            leap_list.append(x)
    return leap_list
print(f'2001년부터 2030년 사이의 윤년 : {leap(2001,2030)}')
#1)
leap_list=list(filter(lambda x:(x%4==0 and x%100!=0)or(x%400==0),range(2001,2031)))
print(f'2001년부터 2030년 사이의 윤년 : {leap_list}')
#2)
leap_list=list(x for x in range(2001,2031) if (x%4==0 and x%100!=0) or x%400==0)
print(f'2001년부터 2030년 사이의 윤년 : {leap_list}')

2001년부터 2030년 사이의 윤년 : [2004, 2008, 2012, 2016, 2020, 2024, 2028]
2001년부터 2030년 사이의 윤년 : [2004, 2008, 2012, 2016, 2020, 2024, 2028]
2001년부터 2030년 사이의 윤년 : [2004, 2008, 2012, 2016, 2020, 2024, 2028]

In [ ]:
#10.14
fruits={'Apple':'사과','Strawberry':'딸기','Peach':'복숭아','Grape':'포도'}
for x,y in fruits.items():
    print(x,y)
#1)
fruits_list = []
for key, value in fruits.items():
  fruits_list.append(f'{key} = {value}')
print(fruits_list)
#2)
fruits_list=list(map(lambda item:f'{item[0]} = {item[1]}',fruits.items()))
print(fruits_list)
#3)
fruits_list=list(f'{key} = {value}' for key,value in fruits.items())
print(fruits_list)

Apple 사과
Strawberry 딸기
Peach 복숭아
Grape 포도
['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']
['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']
['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']

In [ ]:
#10.17
org_list=[8,5,12,34,3,2,97,23,45]
print(f'org_list = {org_list}')
def partition(alist):
    pivot = alist[0]
    less_than_pivot = [x for x in alist[1:] if x <= pivot]
    greater_than_pivot = [x for x in alist[1:] if x > pivot]
    new_list = less_than_pivot + [pivot] + greater_than_pivot
    return new_list

new_list = partition(org_list)

print('partition(org_list)에 의해 정렬된 후의 리스트')
print(f'new_list = {new_list}')

org_list = [8, 5, 12, 34, 3, 2, 97, 23, 45]
partition(org_list)에 의해 정렬된 후의 리스트
new_list = [5, 3, 2, 8, 12, 34, 97, 23, 45]

In [ ]:
#10.19
org_list=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
print(f'org_list = {org_list}')
#1)
def flatten(org_list):
    new_list=[]
    for i in org_list:
        for j in i:
            new_list.append(j)
    return new_list
new_list=flatten(org_list)
print(f'new_list = {new_list}')
#2)
def flatten(org_list):
  new_list=[item for sublist in org_list for item in sublist]
  return new_list
new_list=flatten(org_list)
print(f'new_list = {new_list}')

org_list = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#10.22
scores=[100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]

def score_info(alist):
    n=len(scores)
    div=[scores[i:i + 3] for i in range(0, n, 3)]
    t=len(div)
    e_sco=[x for x in div if 0 not in x]
    print(f'전체 학생 수는 {t}명 입니다.\n유효 점수 획득 학생의 수는 {len(e_sco)}명 입니다.\n{e_sco}')

score_info(scores)

전체 학생 수는 6명 입니다.
유효 점수 획득 학생의 수는 4명 입니다.
[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

In [ ]:
#10.23
def valid_date():
    date_str = input('연월일을 .으로 구분하여 입력하세요 (예: 1970.07.02.): ')
    date_str = date_str[:-1]
    year, month, day = map(int, date_str.split('.'))

    leap_list=list(x for x in range(1900,2001) if (x%4==0 and x%100!=0) or x%400==0)

    valid=True

    if not (1901 <= year <= 2000):
        print("20세기가 아닙니다.\n제대로 된 입력이 아닙니다")
        valid=False
    if not (1 <= month <= 12):
      print("잘못된 월입니다.\n제대로 된 입력이 아닙니다")
      valid=False
    if not (1 <= day <= 31):
      print("잘못된 일입니다.\n제대로 된 입력이 아닙니다")
      valid=False

    if month==2:
        if year in leap_list:
            if day>29:
                print('잘못된 일입니다.\n제대로 된 입력이 아닙니다')
                valid=False
        else:
            if day>28:
                print('잘못된 일입니다.\n제대로 된 입력이 아닙니다')
                valid=False
    elif month in [4,6,9,11]:
        if day>30:
            print('잘못된 일입니다.\n제대로 된 입력이 아닙니다')
            valid=False

    if valid:
        print('제대로 된 입력입니다.')

valid_date()
valid_date()
valid_date()
valid_date()

연월일을 .으로 구분하여 입력하세요 (예: 1970.07.02.): 2019.01.01.
20세기가 아닙니다.
제대로 된 입력이 아닙니다
연월일을 .으로 구분하여 입력하세요 (예: 1970.07.02.): 1999.06.31.
잘못된 일입니다.
제대로 된 입력이 아닙니다
연월일을 .으로 구분하여 입력하세요 (예: 1970.07.02.): 1988.13.31.
잘못된 월입니다.
제대로 된 입력이 아닙니다
연월일을 .으로 구분하여 입력하세요 (예: 1970.07.02.): 1987.10.10.
제대로 된 입력입니다.

In [ ]:
#10.24
a=[(2,5),(1,4),(4,7),(2,3),(2,1)]
a1=sorted(a,key=lambda x:(x[0],x[1]))

a2=sorted(a,key=lambda x:x[1])

print(f'a1 = {a1}')
print(f'a2 = {a2}')

a1 = [(1, 4), (2, 1), (2, 3), (2, 5), (4, 7)]
a2 = [(2, 1), (2, 3), (1, 4), (2, 5), (4, 7)]