<a href="https://colab.research.google.com/github/zhxkpo/NLP_2024/blob/main/%EC%B0%BD%EC%82%AC%ED%94%84_%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
a=int(input('숫자1 : '))
b=int(input('숫자2 : '))
print(a,'/',b,'=',a/b)
print(a,'//',b,'=',a//b)
print(a,'%',b,'=',a%b)

숫자1 : 26
숫자2 : 3
26 / 3 = 8.666666666666666
26 // 3 = 8
26 % 3 = 2

In [3]:
#2
print(3+4/2+1)
print((1+2)/(2+4))
print((3*2)/(4-2/3))

6.0
0.5
1.7999999999999998

In [6]:
#3
sco1=int(input('국어 : '))
sco2=int(input('영어 : '))
sco3=int(input('수학 : '))
print('총점 :',sco1+sco2+sco3)
print('평균 :',(sco1+sco2+sco3)/3)

국어 : 100
영어 : 90
수학 : 80
총점 : 270
평균 : 90.0

In [7]:
#4
print('아버지의 나이 =',38-5)
print('어머니의 나이 =',34-5)

아버지의 나이 = 33
어머니의 나이 = 29

In [8]:
#5
import math
radius=int(input('반지름 : '))
print('원의 넓이 :',radius*radius*math.pi)
print('원의 둘레 :',radius*2*math.pi)

반지름 : 10
원의 넓이 : 314.1592653589793
원의 둘레 : 62.83185307179586

In [9]:
#6
top=int(input('윗변 : '))
bottom=int(input('밑변 : '))
height=int(input('높이 : '))
print('사다리꼴의 넓이 :',(top+bottom)*height/2)

윗변 : 6
밑변 : 8
높이 : 4
사다리꼴의 넓이 : 28.0

In [10]:
#7
minute=int(input('분 : '))
print(minute*60,'초')

분 : 12
720 초

In [13]:
#8
sec=int(input('초 : '))
print(sec,'초 =',sec//60,'분',sec%60,'초')

초 : 345
345 초 = 5 분 45 초

In [15]:
#9
second=int(input('초 : '))
print(second*3.4,'m')

초 : 10
34.0 m

In [16]:
#10
a=float(input('1초당 움직이는 거리 : '))
print('시속 :',a*(60*60),'m/h')
print('시속 :',a*(60*60)/1000,'km/h')

1초당 움직이는 거리 : 3.4
시속 : 12240.0 m/h
시속 : 12.24 km/h

In [17]:
#11
inch=int(input('인치 : '))
print(inch,'인치','=',inch*2.54,'센티미터')

인치 : 10
10 인치 = 25.4 센티미터

In [18]:
#12
cm=int(input('센티미터 : '))
print(cm,'센티미터 =',cm*0.39370,'인치')

센티미터 : 30
30 센티미터 = 11.811 인치

In [20]:
#13
a=int(input('닭 : '))
b=int(input('토끼 : '))
c=int(input('돼지 : '))
print('다리 합계 :',a*2+b*4+c*4)

닭 : 12
토끼 : 8
돼지 : 14
다리 합계 : 112

In [21]:
#14
a=int(input('경과 연수 :'))
print('1 년 총지출 =',365*4500,'원')
print(a,'년 총지출 =',365*a*4500,'원')

경과 연수 :30
1 년 총지출 = 1642500 원
30 년 총지출 = 49275000 원