<a href="https://colab.research.google.com/github/zhxkpo/NLP_2024/blob/main/%EC%B0%BD%EC%82%AC%ED%94%84_%EB%AC%B8%EC%A0%9C_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1번
a=3
b=a+4
c=b*5
print(a,b,c)

3 7 35

In [ ]:
#2번
a=3
b=2
c=1
a=a+1
b=b
c=a+b
c=c+1
print(a,b,c)

4 2 7

In [ ]:
#3번
num=int(input('정수 입력 : '))
num+=10
print(num)

정수 입력 : 30
40

In [ ]:
#4번
fnum=float(input('실수 입력 : '))
inum=int(fnum)
print(fnum,inum)

실수 입력 : 3.2
3.2 3

In [ ]:
#5번
num=int(input('정수 입력 : '))
snum=str(num)
print(num,type(num),snum,type(snum))

정수 입력 : 345
345 <class 'int'> 345 <class 'str'>

In [ ]:
#6번
rept=int(input('반복 : '))
print('#'*rept)
rept=int(input('반복 : '))
print('#'*rept)

반복 : 3
###
반복 : 5
#####

In [ ]:
#7번
year=int(input('현재 연도 : '))
print('경과 연도 :',year-2000)

현재 연도 : 2020
경과 연도 : 20

In [ ]:
#8번
horizontal=int(input('가로 : '))
vertical=int(input('세로 : '))
print('면적 :',horizontal*vertical)

가로 : 5
세로 : 4
면적 : 20

In [ ]:
#9번
radius=int(input('반지름 : '))
print('원의 넓이 :',radius*radius*3.140592)

반지름 : 5
원의 넓이 : 78.5148

In [1]:
#10번
a=int(input('정수1 : '))
b=int(input('정수2 : '))
c=int(input('정수3 : '))
print('정수1 :',a,'정수2 :',b,'정수3 :',c)
sum=a+b+c
print('합 :',sum,'평균',sum/3)

정수1 : 3
정수2 : 5
정수3 : 4
정수1 : 3 정수2 : 5 정수3 : 4
합 : 12 평균 4.0

In [ ]:
#11번
subject=input('과목 : ')
score=int(input('점수 : '))
print('선호 과목 :',subject,',','희망 점수 :',score)

과목 : 수학
점수 : 95
선호 과목 : 수학 , 희망 점수 : 95